### Mobile App for Lottery Addiction

### About Project:

A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities.

We need to focus on 6/49 lottery and address questions on

- Probability of winning the big prize with a single ticket
- Probaility of winning the big prize if we play with 40 different tickets
- Probability of having at least five winning numbers (or four, or three, or two)

The institute also wants us to consider historical data coming from the national 6/49 lottery game in Canada.

### Goal:

To contribute to the development of a mobile app that is meant to help lottery addicts better estimate their chances of winning by applying probability and combinatorics (permutations and combinations)

### Import Libraries

In [1]:
import pandas as pd

### Functions

In [2]:
# Write a function named factorial()

def factorial(n):
    initial_factor = 1
    for i in range(n,0,-1):
        initial_factor *= i
    return initial_factor

def permutations(n,k):
    numerator = factorial(n)
    denominator = factorial(k)
    return numerator/denominator

# Write a function named combinations()

def combinations(n,k):
    numerator = permutations(n,k)
    denominator = factorial(n-k)
    return numerator/denominator

# Write a function named one_ticket_probability()

def one_ticket_probability(userlist):
    n_combinations = combinations(49,6)
    successful_outcomes = 1
    probability = successful_outcomes/n_combinations
    probability_percent = probability*100
    print('The chances of winning the prize with numbers {} are {:.5f}% which is 1 in {:,} chances to win'.format(userlist, probability_percent, int(n_combinations)))

In [3]:
# Test your function using a few inputs.

one_ticket_probability([2, 43, 22, 23, 11, 5])

The chances of winning the prize with numbers [2, 43, 22, 23, 11, 5] are 0.00001% which is 1 in 13,983,816 chances to win

 - This step is performed to test the chances of drawing the jackpot when given a series of numbers from 1 to 6. 
- Here from a sample of 6 numbers, we get the probability count of the winning chances.
- Then the probability is printed for getting success using the ticket numbers.

In [4]:
# Open the 649.csv file and save it as a pandas DataFrame.

df_1 = pd.read_csv('649.csv')

In [5]:
# Print the number of rows and columns of this data set.

df_1.head()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34
4,649,5,0,7/10/1982,5,14,21,31,34,47,45

In [6]:
# Print the first and the last three rows and try to get familiar with the data set.

df_1.tail()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3660,649,3587,0,6/6/2018,10,15,23,38,40,41,35
3661,649,3588,0,6/9/2018,19,25,31,36,46,47,26
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [7]:
def extract_numbers(row):
    row = row[4:10]
    row = set(row.values)
    return row

winning_numbers = df_1.apply(extract_numbers, axis=1)
winning_numbers.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [8]:
def check_historical_occurence(user_list, user_series):
    user_numbers_set = set(user_list)
    check_occurrence = user_series == user_numbers_set
    n_occurrences = sum(check_occurrence)
    
    if n_occurrences == 0:
        print('The combination {} never occured. The chances of drawing combination {} are 0.00001% which is 1 in 13,983,816 chances to win'.format(user_list, user_list))
        
    else:
        print('The number of times combination {} has occured is {}. Chances to win the big prize using the combination {} are 0.00001% which is 1 in 13,983,816 chances to win'.format(user_list, n_occurrences, user_list))

In [9]:
# Test your function with a few inputs.

check_historical_occurence([33, 36, 37, 39, 8, 41], winning_numbers)

The number of times combination [33, 36, 37, 39, 8, 41] has occured is 1. Chances to win the big prize using the combination [33, 36, 37, 39, 8, 41] are 0.00001% which is 1 in 13,983,816 chances to win

In [10]:
check_historical_occurence([3, 2, 44, 22, 1, 44],winning_numbers)

The combination [3, 2, 44, 22, 1, 44] never occured. The chances of drawing combination [3, 2, 44, 22, 1, 44] are 0.00001% which is 1 in 13,983,816 chances to win

We are checking whether the numbers had occured historically and are using that to indicate whether there are chances of it occuring in the future. 

- For instances which had occured in the past, we have slender chances of getting them in the future.
- For instances which will never occur, there are chances that they may occur in future.

In [11]:
def multi_ticket_probability(no_of_tickets):
    possible_outcomes = combinations(49,6)
    probability_percent  = (no_of_tickets/possible_outcomes) * 100
    
    if no_of_tickets == 1:
        print('Chances to win big prize ticket are {:.6f}%, there are 1 in {:,} chances to win'.format(probability_percent, int(possible_outcomes)))
    else:
        combinations_simplified = round(possible_outcomes/no_of_tickets)
        print('Your chances to win the big prize with {:,} different tickets are {:.6f}%, which is 1 in {:,} chances to win'.format(no_of_tickets,probability_percent,combinations_simplified))

In [12]:
# Test your function using the following inputs

tickets = [1, 10, 100, 10000, 1000000, 6991908, 13983816]

for ticket in tickets:
    multi_ticket_probability(ticket)
    print('------------------------')

Chances to win big prize ticket are 0.000007%, there are 1 in 13,983,816 chances to win
------------------------
Your chances to win the big prize with 10 different tickets are 0.000072%, which is 1 in 1,398,382 chances to win
------------------------
Your chances to win the big prize with 100 different tickets are 0.000715%, which is 1 in 139,838 chances to win
------------------------
Your chances to win the big prize with 10,000 different tickets are 0.071511%, which is 1 in 1,398 chances to win
------------------------
Your chances to win the big prize with 1,000,000 different tickets are 7.151124%, which is 1 in 14 chances to win
------------------------
Your chances to win the big prize with 6,991,908 different tickets are 50.000000%, which is 1 in 2 chances to win
------------------------
Your chances to win the big prize with 13,983,816 different tickets are 100.000000%, which is 1 in 1 chances to win
------------------------

This is to check the actual chances of winning the lottery when the numbers are defined.

In [13]:
def probability_less_6(n_winning_numbers):
    
    n_combinations_ticket = combinations(6, n_winning_numbers)
    n_combinations_remaining = combinations(43, 6 - n_winning_numbers)
    successful_outcomes = n_combinations_ticket * n_combinations_remaining
    
    n_combinations_total = combinations(49, 6)    
    probability = successful_outcomes / n_combinations_total
    
    probability_percentage = probability * 100    
    combinations_simplified = round(n_combinations_total/successful_outcomes)    
    print('''Your chances of having {} winning numbers with this ticket are {:.6f}%.
In other words, you have a 1 in {:,} chances to win.'''.format(n_winning_numbers, probability_percentage,
                                                               int(combinations_simplified)))

In [14]:
# Test your function on all possible inputs: 2, 3, 4, and 5.

for i in [2,3,4,5]:
    probability_less_6(i)
    print('--------------------------')

Your chances of having 2 winning numbers with this ticket are 13.237803%.
In other words, you have a 1 in 8 chances to win.
--------------------------
Your chances of having 3 winning numbers with this ticket are 1.765040%.
In other words, you have a 1 in 57 chances to win.
--------------------------
Your chances of having 4 winning numbers with this ticket are 0.096862%.
In other words, you have a 1 in 1,032 chances to win.
--------------------------
Your chances of having 5 winning numbers with this ticket are 0.001845%.
In other words, you have a 1 in 54,201 chances to win.
--------------------------

- Depending on the value of the integer, between 2 and 5 we print the chances of winning

- The lesser the value of winning numbers, the greater the chances of winning

### Conclusions

Though this app can calculate the following probabilities

- of winning the big prize with a single ticket
- checking whether a certain combination has occurred
- calculating probability for any number of tickets between 1 and 13,983,816
- calculating probability of having two, three, four or five winning numbers

Improvements can be made to the app in the following ways

- making even easier to understand by adding fun analogies
- Combining the one_ticket_probability() and check_historical_occurrence() to output information on probability and historical occurrence at the same time
- Creating similar function to probability_less_6() to calculate the probability of having at least two, three, four or five winning numbers, where we calculate the exact numbers of 4, 5  and 6 winning outcomes respectively.